* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

header {
    background-color: rgb(69, 150, 231);
    display: flex;
    padding: 12px 0;
    margin-bottom: 12px;
    justify-content: center;
}

body {

    background: #222;
}

footer {
    background-color: lightslategray;
}

button {
    background-color: lightslategray;
    width: 80px;
    margin-left: 10px;
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

input {
    padding: 3px 24px;
}

.cards {
    justify-content: center;
    align-items: center;

    @media(max-width:500px) {
        flex-direction: column;
    }
}

#sun-section,
#weather-section {
    display: flex;
    margin: 25px 12px 12px 12px;
    background-color: lightslategray;
    height: 65vh;
    width: 65vw;
}