:root {
    --primary-color: #192426;
    --secondary-color: white;
    --accent-color: #D97C2B;
    --secondary-accent-color:#53787E; 
    --button-hover-color:#79AFB7; 
}

* {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
   font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-color);
   
}

h2 {
    font-weight: 700;
}

header {
    background-color: var(--accent-color);
    padding: 8px;
    margin-bottom: 24px;
}

header h1 {
    margin-top: 8px;
    font-size: xx-large;
    font-weight: 700;

}


footer {
    background-color: var(--secondary-accent-color);
    margin-top: 36px;
    padding: 15px;
}

button {
    background-color: var(--secondary-accent-color);
    width: 100px;
    height: 36px;
    margin-left: 10px;
    border-radius: 6px;
    border-style: none;
}

button:hover {
    background-color: var(--button-hover-color);
}

input {
    color: black;
    width: 450px;
    padding: 6px 24px;
    border-radius: 6px;
    border-style: none;
}

input:focus {
    outline: none;
}

.input-div {
    padding: 24px;
}

.cards {
    flex-wrap: wrap;
    @media screen and (max-width:700px) {
        display: flex;
        flex-direction: column;
    }
}


#sun-card,
#weather-card {
    
    margin: 24px 18px;
    padding: 24px 48px;
    background-color: var(--accent-color);
    height: 75vh;
    width: 40%;
    min-width: 425px;
    min-height: 600px;
    border-radius: 10px;
    
}

#sun-card img {
    width: 175px;
}

#sunrise-title,
#golden-hour-title,
#sunset-title {
    font-weight: 600;
}

.card-content {
    margin-top: 36px;
}

#sun-card,
#weather-card {
    @media screen and (max-width:700px) {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 24px auto;
        
    }
}

#sun-card img {
    width: 125px;
}
#image-selector{
    width: 90px;
    height: 90px;
    padding: 10px;
    margin: 20px;
}

-------------MODAL

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
